<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="{{#if site.debug}}http://localhost:8080/{{/if}}bundle.css">
    
    <meta name="robots" content="noindex">

    {{#if images}}
      <script>
        window.images = {{{toJSON images}}}
      </script>
    {{/if}}

  </head>
  <body>
    <canvas id="bg" width="400" height="400"></canvas>

    {{{body}}}



    <script src="{{#if site.debug}}http://localhost:8080/{{/if}}bundle.js"></script>

    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io();
      var visitorData = {
        referringSite: document.referrer,
        page: location.pathname,
        userAgent : navigator.userAgent,
        vendor: navigator.vendor,
        title : document.title
      }
      socket.emit('visitor-data', visitorData);
    </script>
      
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-37577335-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-37577335-2');
  </script>

  </body>
</html>
