<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="{{#if site.debug}}http://localhost:8080/{{/if}}bundle.css">
    <meta name="robots" content="noindex">
  </head>
  <body>
    {{{body}}}
  </body>
</html>
