
<div class="AlertMessage"></div>
<div class="u-full-width">
  <div class="container">
    {{#everyNth headlines 3}}
        {{#if @isModZeroNotFirst}}
            </div>
        {{/if}}
        {{#if @isModZero}}
            <div class="row">
        {{/if}}
        <div class="four columns">
            <div class="Article js-article">
                <div class="Article-img js-article-pixelate">
                    <img src="images/placeholder.png" />
                </div>  
                <div class="Article-header">
                    <h4 class="js-article-bold">{{this}}</h4>  
                </div>
            </div>
        </div>
        {{#if @isLast}}
            </div>
        {{/if}}
    {{/everyNth}}
  </div>
</div>

<div class="Message is-hidden js-message">
    <div class="Message-scrolling js-message-text">
        Something has changed
        Something has changed
        Something has changed
        Something has changed
        Something has changed
    </div>
</div>

